.profiledetail-section {
    padding: 30px 0;
    width: 100%;
    background-color: #40D3DC;
    height: 400px;
}
.profiledetail-container {

}
.profiledetail-container-grid {
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;
}
.profiledetail-container-item {
    border-radius: 10px;
    margin-top: 10px;
    background-color: #252525;
    padding-top: 10px;
    padding-bottom: 20px;
}
.profiledetail-container-item_header {
    border-bottom: 1px solid #ccc;
    margin: 0 20px;
    padding-bottom: 10px;
}
.profiledetail-container-item_header h1 {
    text-align: center;
    color: white;
}
.profiledetail-container-item-info {
    margin: 20px;
    display: flex;
}
.profiledetail-container-item-info-text {
    margin-left: 20px;
}
.profiledetail-container-item-info-text h4 {
    color: white;
}
.profiledetail-container-item-info-text span {
    color: #828282;
}
.profiledetail-container-item-info img {
    height: 100px;
    width: 100px;
}


